  html {
      scroll-behavior: smooth;
  }

  #logo {
      width: 100px;
      height: 100px;
  }

  #nav-bar {
      padding-left: 400px;
      padding-top: 30px;
  }

  #heading {
      font-size: 70px;
      font-weight: 550;
      text-align: center;
      padding-top: 5%;
  }

  .content {
      width: 80%;
      margin: 0 auto;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      /* Allow cards to wrap to the next row */
      justify-content: space-evenly;
      /* Center the cards horizontally */
      margin-bottom: 10px;
  }

  .card {
      width: 250px;
      background: rgb(244, 242, 242);
      /* Adjust card width as needed */
      margin: 10px;
      /* Add spacing between cards */
      border-radius: 20px;
      padding: 15px;
      box-sizing: border-box;
      /* Include padding in the width calculation */
      text-align: center;
      /* Center content within cards */
  }

  .card h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(34, 116, 143);
      font-weight: bold;
      font-size: x-large;
  }

  .card img {
      margin-bottom: 20px;
  }

  .card h3 {
      margin-bottom: 10px;
  }

  .card p {
      font-weight: 600;
      font-size: larger;
      color: black;
  }

  footer {
      background-color: #000;
      /* Black background */
      color: #fff;
      /* White text */
      padding: 20px 0;
      /* Add padding for spacing */
  }

  .footer-top {
      text-align: center;
  }

  .footer-top h2 {
      margin-top: 10px;
  }

  .social-icons {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }

  .social-icons li {
      margin: 0 10px;
  }

  .social-icons a {
      color: white
  }

  .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }

  .footer-links {
      list-style: none;
      display: flex;
  }

  .footer-links li {
      margin-right: 20px;
  }

  .footer-links a {
      color: #fff;
      text-decoration: none;

  }

  .footer-links a:hover,
  i:hover {
      color: orange;
  }